 <h1 class="page-header">Delete Shade Tool</h1>

          <div class="row placeholders" >
            <div class="col-xs-6 col-sm-12 placeholder">
                <video width="700" height="400" controls><source src="video/delete_shade.webm" type="video/webm"></video>
             
             
            </div>
       
          </div>



