
          <h1 class="page-header">Getting Started</h1>

          <div class="row" >
            <div class="col-xs-12 col-sm-12" style="text-align: justify;">
                <h3>Colour Matching Tips</h3>
             
                <p>Colour representation in the “Jasmine Paints Color Visualizer” Software</p>

                <p>This application gives the true representation of shades in a room, given the light conditions at the time of clicking the photograph. If the image has dark shadows, then the colour too will darken over the shadows. When applied on the walls of your house, the chosen shade should look similar to what it looks in the visualizer, provided the light conditions of your room remain similar. To lessen the effect of shadows use the “shade corrector” tool.</p>
                <h3>Check points before installing the “Jasmine Paints Color Visualizer” Software</h3>
                <ul>
                    <li>Natural or white light is the correct light to compare Colour Spectra shade with the shades displayed on screen.</li>
                    <li>Please ensure there is bright white light around the computer.</li>
                    <li>The light should fall directly on the Colour Spectra shade tab.</li>
                    <li>Please hold the shade tab away from the computer screen.</li>
                    <li>Please do not let light from the computer screen fall on the Colour Spectra shade tab, while comparing.</li>
                    <li>Please ensure your PC is running on the default display profile of windows .
                        <ul>
                            <li>Right click on the desktop window> Click on properties-> Click on settings-, Click on advanced.-> Click on Colour management. Remove all available display profiles. The windows default profile will take over.</li>
                        </ul>
                    </li>
                </ul>        
                <h3>Tips on getting a good match</h3>
                <ul>
                    <li>If the shades on the screen look lighter or darker than those on the Colour Spectra, please adjust the brightness settings of your screen.</li>
                </ul>
    

                <h3>Factors affecting a good match with the Colour Spectra</h3>
                <p>Shade matches may get affected by the monitor as per the following:</p>
                <ul>
                    <li>Settings of the monitor - Please ensure the computer is running on the windows default display profile.</li>
                    <li>Age of the monitor - All or some specific shade families may show variation.</li>
                    <li>Brand of the monitor.</li>
                    <li>Type of monitor - CRT monitors can display more colours as compared to LCD monitors.</li>
                    <li>Quality of monitor - Some monitors are specifically designed for good colour representation.</li>
                </ul>
                <p>The “Jasmine Paints Color Visualizer” Software is a tool to help the consumer imagine colour combinations on his walls. It is not a tool for selecting shades. We strongly recommend that the final shade verification be done from the “Colour Spectra”, before purchase.</p>

                <h3>System Requirements</h3>
                <ul>
                    <li>Operating Systems -Windows 7, 8, 8.1, 10.</li>
                    <li>RAM -1 GB & Above</li>
                    <li>Free hard disk space -500MB</li>
                </ul>
    
   
    


            </div>
       
          </div>
